[package]
name = "edge-net"
version = "0.1.2"
authors = ["Ivan Markov <ivan.markov@gmail.com>"]
edition = "2018"
resolver = "2"
categories = ["embedded", "hardware-support"]
keywords = ["embedded", "svc", "network"]
description = "no_std and no-alloc async implementations of various network protocols."
repository = "https://github.com/ivmarkov/edge-net"
license = "MIT OR Apache-2.0"
readme = "README.md"
rust-version = "1.61"

[features]
default = ["std"]

std = ["alloc", "embedded-io/std", "embassy-sync/std", "embedded-svc?/std", "async-io", "futures-lite", "httparse/std", "domain?/std"]
alloc = ["embedded-io/alloc", "embedded-svc?/alloc"]
nightly = ["embedded-io/async", "embassy-sync/nightly", "embedded-svc?/nightly", "embedded-svc?/experimental"]
embassy-util = [] # Just for backward compat. To be removed in future

[dependencies]
embedded-io = { version = "0.3", default-features = false }
heapless = { version = "0.7", default-features = false }
httparse = { version = "1.7", default-features = false }
embassy-futures = "0.1"
embassy-sync = { version = "0.1", default-features = false }
no-std-net = { version = "0.5", default-features = false }
log = { version = "0.4", default-features = false }
base64 = { version = "0.13", default-features = false }
sha1_smol = { version = "1", default-features = false }
embedded-nal-async = "0.2"
domain = { version = "0.7", default-features = false, optional = true }
futures-lite = { version = "1", default-features = false, optional = true }
async-io = { version = "1", default-features = false, optional = true }
embedded-svc = { version = "0.23", default-features = false, optional = true }

[dev-dependencies]
anyhow = "1"
smol = "1"
simple_logger="2.2"
